.navbar-default {
    background-color: palegreen;
    border-color: aliceblue;
}
.dropdown, .dropup {
    background-color: palegreen;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: yellowgreen;
}
.dropdown-menu {
    background-color: yellowgreen;
}
body {
    background-color: aliceblue;
}
.panel-body {
    background-color: aliceblue;
}
.list-group-item:last-child {
    background-color: aliceblue;
}
.panel-footer {
	padding: 10px 15px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: palegreen;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: yellowgreen;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    background-color: palegreen;

}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {

    background-color: #bce8f1;
}

.list-group-item {
    background-color: aliceblue;
}